.Notice {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 27px;
  background: #1a1f37;
  border-radius: 9px;
}

.Notice .text {
  flex: 1;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #96a1db;
}

.Notice .Icon {
  cursor: pointer;
}

.Notice .icon-wrap {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 66px;
  display: flex;
  min-width: 35px;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #2f3349;
}
